In [1]:
import pandas as pd

# -------------------------------------------------------------------------
# main
# -------------------------------------------------------------------------

# Download files
# Import them into pandas dataframes
# Discard unused data
# Save cleaned dataframes
# Remove downloaded files

Useful columns 

"""
[
    "School ID",
    "City",
    # "School Type",
    "Primary_Category",
    "Progress report year"
]
"""

In [6]:
print("Starting...")

# Crimes

crimes_url = "./data/Crimes-2001toPresent.tar.gz"  # "https://data.cityofchicago.org/api/views/9xs2-f89t/rows.csv?accessType=DOWNLOAD",

"""
crimes_df = pd.read_csv(crimes_url, compression="gzip")

print(crimes_df.columns)
print(crimes_df.dtypes)
print()
"""

# Education

education_new_urls = [
    "https://data.cityofchicago.org/api/views/b5gj-d4r4/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/qemx-3d9f/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/tj8h-mnuv/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/2m8w-izji/rows.csv?accessType=DOWNLOAD",
]
education_old_urls = [
    "https://data.cityofchicago.org/api/views/fvrx-esxp/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/cp7s-7gxg/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/wkiz-8iya/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/dw27-rash/rows.csv?accessType=DOWNLOAD",
    "https://data.cityofchicago.org/api/views/ngix-dc87/rows.csv?accessType=DOWNLOAD",
]

education_df = pd.DataFrame()

for url in education_new_urls:
    print(url)
    new_education_df = pd.read_csv(url, usecols=["School ID"])
    new_education_df.columns = ["School_ID"]
    education_df = pd.concat([education_df, new_education_df], sort=False, ignore_index=True)

    print(new_education_df.columns)

for url in education_old_urls:
    print(url)
    new_education_df = pd.read_csv(url, usecols=["School_ID"])
    education_df = pd.concat([education_df, new_education_df], sort=False, ignore_index=True)

    print(new_education_df.columns)

print(education_df.columns)
print(education_df.dtypes)

print(education_df)

Starting...
https://data.cityofchicago.org/api/views/b5gj-d4r4/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/qemx-3d9f/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/tj8h-mnuv/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/2m8w-izji/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/fvrx-esxp/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/cp7s-7gxg/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/wkiz-8iya/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/dw27-rash/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
https://data.cityofchicago.org/api/views/ngix-dc87/rows.csv?accessType=DOWNLOAD
Index(['School_ID'], dtype='object')
Index(['School_ID'], dtype='object')
School_ID    int64
dtype: object
      School_ID
0        610530
1        609861
2        610225
3        609952
4        609902
...         ...
4557     610254
4558     609789
4559     610269
4560     609844
4561     610006

[4562 rows x 1 columns]

In [3]:
education_df.fillna(axis=1, method="bfill", inplace=True)
education_df.drop(columns=["School_ID"], inplace=True)

In [4]:
test = education_df.groupby(by=["School ID"]).sum()
test

Empty DataFrame
Columns: []
Index: [400009.0, 400010.0, 400011.0, 400012.0, 400013.0, 400015.0, 400017.0, 400018.0, 400019.0, 400020.0, 400021.0, 400022.0, 400023.0, 400024.0, 400025.0, 400026.0, 400027.0, 400028.0, 400029.0, 400030.0, 400031.0, 400032.0, 400033.0, 400034.0, 400035.0, 400036.0, 400038.0, 400039.0, 400040.0, 400041.0, 400042.0, 400043.0, 400044.0, 400045.0, 400046.0, 400047.0, 400048.0, 400049.0, 400050.0, 400051.0, 400052.0, 400053.0, 400054.0, 400055.0, 400056.0, 400057.0, 400058.0, 400059.0, 400060.0, 400061.0, 400062.0, 400064.0, 400066.0, 400068.0, 400069.0, 400070.0, 400071.0, 400072.0, 400073.0, 400074.0, 400075.0, 400076.0, 400077.0, 400078.0, 400079.0, 400080.0, 400081.0, 400082.0, 400083.0, 400084.0, 400085.0, 400086.0, 400087.0, 400089.0, 400091.0, 400092.0, 400093.0, 400094.0, 400096.0, 400097.0, 400098.0, 400101.0, 400102.0, 400104.0, 400105.0, 400106.0, 400107.0, 400108.0, 400109.0, 400111.0, 400112.0, 400113.0, 400114.0, 400115.0, 400116.0, 400117.0, 400118.0, 400119.0, 400120.0, 400121.0, ...]

[746 rows x 0 columns]

In [7]:
pd.set_option('display.max_rows', 50)
education_df

      School_ID
0        610530
1        609861
2        610225
3        609952
4        609902
...         ...
4557     610254
4558     609789
4559     610269
4560     609844
4561     610006

[4562 rows x 1 columns]